.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; width: 40em; border-radius: 5px;}
.highlight {
  color: #FFFFFF;
  background-color: #3a383a;
}
.highlight .c, .highlight .ch, .highlight .cd, .highlight .cm, .highlight .cpf, .highlight .c1, .highlight .cs {
  color: #646566ce;
  font-style: italic;
}
.highlight .cp {
  color: #340d66;
  font-weight: bold;
}
.highlight .err {
  color: #4b4848;
}
.highlight .gr {
  color: #575353;
}
.highlight .k, .highlight .kd, .highlight .kv {
  color: #770505;
  font-weight: bold;
}
.highlight .o, .highlight .ow {
  color: #340d66;
}
.highlight .p, .highlight .pi {
  color: #340d66;
}
.highlight .gd {
  color: #b60d9a;
}
.highlight .gi {
  color: #340d66;
}
.highlight .ge {
  font-style: italic;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gt {
  color: #766DAF;
}
.highlight .gl {
  color: #766DAF;
}
.highlight .kc {
  color: #9f93e6;
  font-weight: bold;
}
.highlight .kn {
  color: #FFFFFF;
  font-weight: bold;
}
.highlight .kp {
  color: #FFFFFF;
  font-weight: bold;
}
.highlight .kr {
  color: #FFFFFF;
  font-weight: bold;
}
.highlight .gh {
  color: #FFFFFF;
  font-weight: bold;
}
.highlight .gu {
  color: #FFFFFF;
  font-weight: bold;
}
.highlight .kt {
  color: #9177ab;
  font-weight: bold;
}
.highlight .no {
  color: #9177ab;
  font-weight: bold;
}
.highlight .nc {
  color: #9177ab;
  font-weight: bold;
}
.highlight .nd {
  color: #9177ab;
  font-weight: bold;
}
.highlight .nn {
  color: #9177ab;
  font-weight: bold;
}
.highlight .bp {
  color: #9177ab;
  font-weight: bold;
}
.highlight .ne {
  color: #9177ab;
  font-weight: bold;
}
.highlight .nl {
  color: #9f93e6;
  font-weight: bold;
}
.highlight .nt {
  color: #9f93e6;
  font-weight: bold;
}
.highlight .m, .highlight .mb, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mx {
  color: #9f93e6;
  font-weight: bold;
}
.highlight .ld {
  color: #9f93e6;
  font-weight: bold;
}
.highlight .ss {
  color: #9f93e6;
  font-weight: bold;
}
.highlight .s, .highlight .sb, .highlight .dl, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .sr, .highlight .s1 {
  color: #b60d9a;
  font-weight: bold;
}
.highlight .sa {
  color: #b60d9a;
  font-weight: bold;
}
.highlight .se {
  color: #FAAF4C;
  font-weight: bold;
}
.highlight .sc {
  color: #FAAF4C;
  font-weight: bold;
}
.highlight .si {
  color: #FAAF4C;
  font-weight: bold;
}
.highlight .nb {
  font-weight: bold;
}
.highlight .ni {
  color: #999999;
  font-weight: bold;
}
.highlight .w {
  color: #BBBBBB;
}
.highlight .nf, .highlight .fm {
  color: #07702f;
}
.highlight .py {
  color: #07702f;
}
.highlight .na {
  color: #07702f;
}
.highlight .nv, .highlight .vc, .highlight .vg, .highlight .vi, .highlight .vm {
  color: #07702f;
  font-weight: bold;
}
