<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <div class="introduce">
                        <span> 웹개발자 EUNBI N. </span>
                        <span> JS, TS based Vue, React, Angular FrontEnd  ✔ FLUENT </span>
                        <span> BE 서비스구축, API 통신, 생산적인 유틸 구현   ✔ SKILLFUL</span>
                        <span> 책임감과 업무집중력을 실현해내는 SI프로젝트  ✔ FAVORITE </span>
                        <span class="tag-line">
                            <span class="tags">리팩토링애호가</span>
                            <span class="tags">방탄코드구축</span>
                            <span class="tags">이슈해결사</span>
                            <span class="tags">정보처리기사</span>
                        </span>
                        <br/>
                        <span>
                            <span class="icons"><img src="/assets/images/html5.svg"/></span>
                            <span class="icons"><img src="/assets/images/css.svg"/></span>
                            <span class="icons"><img src="/assets/images/sass.svg"/></span>
                            <span class="icons"><img src="/assets/images/javascript.svg"/></span>
                            <span class="icons"><img src="/assets/images/typescript.svg"/></span>
                            <span class="icons"><img src="/assets/images/vue.svg"/></span>
                            <span class="icons"><img src="/assets/images/react.svg"/></span>
                            <span class="icons"><img src="/assets/images/angular.svg"/></span>
                            <span class="icons"><img src="/assets/images/nextjs.svg"/></span>
                        </span>
                        <span>
                            <span class="icons"><img src="/assets/images/java.svg"/></span>
                            <span class="icons"><img src="/assets/images/spring.svg"/></span>
                            <span class="icons"><img src="/assets/images/node.svg"/></span>
                            <span class="icons"><img src="/assets/images/oracle.svg"/></span>
                            <span class="icons"><img src="/assets/images/postgresql.svg"/></span>
                            <span class="icons"><img src="/assets/images/jenkins.svg"/></span>
                        </span>
                    </div> 
                    <br>
                    <div class="container columns">
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/#contact"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">CONTACT
                                ME</a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>