<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <div class="introduce">
                        <span> 안녕하세요! </span>
                        <span> 2.9년차 웹개발자 EUNBI N. 입니다. </span>
                        <span> JS, TS 베이스로 Vue, React, Angular 코드에 능숙, </span>
                        <span> 특유의 책임감과 업무집중을 필요로 하는 SI 프로젝트에 강하고, </span>
                        <span> 리팩토링으로 코드퀄리티 향상, 이슈 방탄구축과 문제해결을 좋아합니다. </span>
                    </div> 
                    <p>( written by / {{ "now" | date: "%Y, %-B" }} )</p>
                    <br>
                    <div class="container columns is-centered">
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/#contact"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">CONTACT
                                ME</a>
                            </a>
                        </div>
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/project"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">PROJECTS</a>
                            </a>
                        </div>
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/blog"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">STUDY</a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>