<section class="hero is-fullheight has-text-centered" id="contact">
  <div class="hero-body">
    <div
      class="container"
      style="display: flex; flex-direction: column; gap: 10px"
    >
      <a
        href="{{site.url}}{{site.baseurl}}/project"
        class="contact-button button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths"
      >
        <img src="/assets/images/project-com.svg" style="margin-right: 5px" />
        PROJECTS
      </a>
      <a
        href="{{site.url}}{{site.baseurl}}/blog"
        class="contact-button button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths"
      >
        <img src="/assets/images/study-com.svg" style="margin-right: 5px" />
        knowledge
      </a>
      {% unless site.email == %}
      <a
        href="mailto:{{site.email}}"
        class="contact-button button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths"
        target="_blank"
      >
        <img
          src="/assets/images/email.svg"
          style="width: 20px; margin-right: 4px"
        />EMAIL
      </a>
      {% endunless %} {% unless site.github_username == %}
      <a
        href="http://www.github.com/{{site.github_username}}"
        class="contact-button button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths"
        target="_blank"
      >
        <img
          src="/assets/images/github.svg"
          style="width: 20px; margin-right: 4px"
        />GITHUB
      </a>
      {% endunless %}
      <!-- <hr> -->
      <!-- <h3 class="is-size-5 is-uppercase has-text-weight-semibold has-text-black is-marginless"> -->
      <!-- You Can find me here -->
      <!-- </h3> -->
      <!-- <div class="column is-full is-size-3">
                {% unless site.github_username ==  %}
                <a href="http://www.github.com/{{site.github_username}}" target="_blank" class="has-text-black"><i class="fab fa-github"></i></a>
                {% endunless %}
            </div> -->
    </div>
  </div>
</section>
