<!-- Header -->
    <section id="header" class="skel-layers-fixed">
        <header>
            <span class="image avatar"><img src="{{ site.baseurl }}/images/mainA.png" alt="{{ site.baseurl }}/images/avatar.jpg" /></span>
            <h1 id="logo"><a href="https://eunbinoh.github.io/">Eunbi's Portfolio</a></h1>
            <p>
                I am a new developer starter! <br/>
                #JAVA, #Spring, #jQuery, #Oracle, #Git, ..
            </p>
        </header>
        <nav id="nav">
            <ul>
                <li><a href="https://eunbinoh.github.io" class="scrolly active">Home</a></li>
                <li><a href="{{ site.url }}/Content/content.html">Content</a></li>
                <li><a href="{{ site.url }}/errorNote/error.html">ErrorNote</a></li>
                <li><a href="{{ site.url }}/contact/contactMe.html">contactME</a></li>
            </ul>
        </nav>
        <footer>
            <ul class="icons">
                <li><a href="https://www.instagram.com/nohonbi/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="https://github.com/eunbinoh" class="icon fa-github"><span class="label">Github</span></a></li>
                <li><a href="{{ site.url }}/contact/contactMe.html" class="icon fa-envelope"><span class="label">Email</span></a></li>
            </ul>
        </footer>
    </section>

