<div class="columns is-centered is-multiline is-mobile">
  {% for project in site.data.projects %}

  <div
    class="column has-text-centered is-paddingless is-marginless is-one-third-desktop is-half-tablet"
    id="project-card"
  >
    <a href="{{project.link}}" target="_blank">
      <div class="has-background-black card">
        <figure
          class="image is-3by1"
          style="background-image: url({{project.image}});"
        ></figure>
        <div class="card-content">
          <h1 class="title has-text-white is-size-4">{{ project.name }}</h1>
          <p class="has-text-white has-text-weight-light">
            {{ project.description1 }}
          </p>
          <p class="has-text-white has-text-weight-light">
            {{ project.description2 }}
          </p>
          <p class="has-text-white has-text-weight-light">
            {{ project.description3 }}
          </p>
        </div>
      </div>
    </a>
  </div>
  {% if forloop.index0 != 0 and forloop.index0 % 3 == 2 %}
  <br />
  {% endif %} {% endfor %}
</div>
