---
layout: default
---
<section>
    <div class="container">
        <header class="major">
            <h2>{{ page.title }}</h2>
                <p class="post-meta" style="font-size: 14px !important;">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
                {% if page.tags %}
                    {% for tag in page.tags %}
                        <span class="tag" style="background-color:rgba(165, 115, 199, 0.863); color: aliceblue; font-size: 11px; padding:7px; border-radius: 5px;"># {{ tag }}</span>
                    {% endfor %}
                {% endif %}
                <br><hr><br>
            </header>

        <section class="post-content">
            {{ content }}
        </section>
        
        <footer>
            {% if page.previous %}
            <a href="{{ page.previous.url }}" class="float-left">&larr; Previous post</a> {% endif %}
            {% if page.next %}
            <a href="{{ page.next.url }}" class="float-right">Next post &rarr;</a> {% endif %}
        </footer>

    </div>

</section>
